body 
{
    color: red;
    text-align: left;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: #33F;
    box-shadow: 0px 5px 30px opx rgba(0,0,0,0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5cm;

}
#container
{
    width: 70%;
    padding: lem;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}